<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- BootStrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/css/tether.min.css"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <!-- Custom Css -->
    <link rel="stylesheet" href="style.css" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ToDo | Piyush</title>
  </head>
  <body>
    <div id="myTodoApp">
      <div class="nav">
        <p style="display: block">ToDo's</p>
      </div>

      <div class="container">
        <div class="myForm">
          <form v-on:submit.prevent="onSubmit">
            <div class="form-group">
              <label for="task">Enter your task for today</label>
              <input
                type="text"
                name=""
                id="task"
                class="form-control"
                placeholder=""
                required
                aria-describedby="helpId"
                v-model="todoTask"
              />
              <small id="helpId" class="text-muted"></small>
              <input class="btn btn-success" type="submit" />
            </div>
          </form>
        </div>

        <div class="todoList">
          <table class="table">
            <thead class="thead">
              <tr>
                <th>Date</th>
                <th>Task</th>
                <th>Clear</th>
              </tr>
            </thead>

            <tbody id="tableBody"></tbody>
          </table>
          <button onclick="app.clearAll()" v-if="localStorageHasItem()" id="clearBtn" class="btn btn-danger">Clear All</button>
        </div>
      </div>
    </div>

    <!-- Vue CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Custom Script -->
    <script src="script.js"></script>
  </body>
</html>
